.container{
  background-color: #00a0d6;
  width: 900px;
  height: 500px;
  position: relative;
}
.top{
  background-color: #fefefe;
  position: absolute;
  top: 70px;
  left: 310px;
  width: 240px;
  height: 145px;
  border-radius: 2px;
  box-shadow: 0 0 0 10px;
}
.screen{
  position:absolute;
  background-color: #333;
  width: 200px;
  height: 125px;
  top: 20px;
  left: 40px;
}
.circle{
  position: absolute;
  border-radius: 50%;
  height: 7px;
  width: 7px;
}
.circle.red{
  background-color: red;
  top: 3px;
  left: 3px;
}
.circle.yellow{
  background-color: #ffae00;
  top: 3px;
  left: 12px;
}
.circle.green{
  background-color: green;
  top: 3px;
  left: 21px;
}
.word{
  position: absolute;
  background-color: #333;
  left: 7px;
  height: 5px;
}
.word.first{
  top: 30px;
  width: 25px;
}
.word.second{
  top: 40px;
  width: 20px;
}
.word.third{
  width: 22px;
  top: 50px;
}
.word.fourth{
  width: 15px;
  top: 60px;
}
.word.five{
  width: 20px;
  top: 14px;
  left: 60px;
}
.word.six{
  width: 20px;
  top: 14px;
  left: 90px;
}
.word.seven{
  width: 20px;
  top: 14px;
  left: 120px;
}
.code{
  height: 5px;
  position: absolute;
}
.code.red{
  background-color: red;
}
.code.red.one{
  width: 30px;
  top: 40px;
  left: 90px;
}
.code.red.two{
  width: 40px;
  top: 60px;
  left: 150px;
}
.code.red.three{
  width: 20px;
  top: 70px;
  left: 120px;
}
.code.blue{
  background-color: #00aeff;
}
.code.blue.one{
  width: 20px;
  top: 40px;
  left: 65px;
}
.code.blue.two{
  width: 10px;
  top: 40px;
  left: 125px;
}
.code.blue.three{
  width: 60px;
  top: 50px;
  left: 65px;
}
.code.blue.four{
  width: 20px;
  top: 50px;
  left: 130px;
}
.code.blue.five{
  width: 30px;
  top: 50px;
  left: 155px;
}
.code.blue.six{
  width: 80px;
  top: 60px;
  left: 65px;
}
.code.blue.seven{
  width: 10px;
  top: 70px;
  left: 65px;
}
.code.blue.eight{
  width: 35px;
  top: 70px;
  left: 80px;
}
.board{
  background-color: #f7f7f7;
  position: absolute;
  top: 225px;
  left: 300px;
  width: 260px;
  height: 145px;
  border-radius: 10px;
}
.key1{
  background-color: #333;
  height: 10px;
  width: 15px;
  position: absolute;
  border-radius: 4px;
  top: 15px;
}
.key1.zero{
  left: 37px;
}
.key1.one{
  left: 56px;
}
.key1.two{
  left: 75px;
}
.key1.three{
  left: 94px;
}
.key1.four{
  left: 113px;
}
.key1.five{
  left: 132px;
}
.key1.six{
  left: 151px;
}
.key1.seven{
  left: 170px;
}
.key1.eight{
  left: 189px;
}
.key1.nine{
  left: 208px;
}
.key2{
  background-color: #333;
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 4px;
}
.key2.row1{
  top: 30px;
}
.key2.row1.zero{
  left: 37px;
}
.key2.row1.one{
  left: 56px;
}
.key2.row1.two{
  left: 75px;
}
.key2.row1.three{
  left: 94px;
}
.key2.row1.four{
  left: 113px;
}
.key2.row1.five{
  left: 132px;
}
.key2.row1.six{
  left: 151px;
}
.key2.row1.seven{
  left: 170px;
}
.key2.row1.eight{
  left: 189px;
  width: 34px;
}
.key2.row2{
  top: 50px;
}
.key2.row2.zero{
  left: 37px;
  width: 34px;
}
.key2.row2.one{
  left: 75px;
}
.key2.row2.two{
  left: 94px;
}
.key2.row2.three{
  left: 113px;
}
.key2.row2.four{
  left: 132px;
}
.key2.row2.five{
  left: 151px;
}
.key2.row2.six{
  left: 170px;
}
.key2.row2.seven{
  left: 189px;
}
.key2.row2.eight{
  left: 208px;
}
.key2.row3{
  top: 70px;
}
.key2.row3.zero{
  left: 37px;
  width: 25px;
}
.key2.row3.one{
  left: 66px;
}
.key2.row3.two{
  left: 85px;
}
.key2.row3.three{
  left: 104px;
}
.key2.row3.four{
  left: 123px;
}
.key2.row3.five{
  left: 142px;
}
.key2.row3.six{
  left: 161px;
}
.key2.row3.seven{
  left: 180px;
}
.key2.row3.eight{
  left: 199px;
  width: 25px;
}
.key2.row4{
  top: 90px;
}
.key2.row4.zero{
  left: 37px;
}
.key2.row4.one{
  left: 56px;
}
.key2.row4.two{
  left: 75px;
}
.key2.row4.three{
  left: 94px;
  width: 72px;
}
.key2.row4.seven{
  left: 170px;
}
.key2.row4.eight{
  left: 189px;
}
.key2.row4.nine{
  left: 208px;
}
.pad{
  position: absolute;
  width: 75px;
  height: 30px;
  top: 110px;
  left: 92px;
  border-radius: 5px;
  background-color: #eaeaea;
}
.bar{
  width: 180px;
  height: 15px;
  background-color: #333;
  position: absolute;
  top: -5px;
  left: 40px;
}
.left{
  position: absolute;
  width: 240px;
  height: 170px;
  top: 70px;
  left: 45px;
  background-color: #fefefe;
  transform: skew(-10deg) rotate(-10deg);
  box-shadow: 0 0 0 10px;
  border-radius: 5px;
}
.leftScreen{
  position:absolute;
  background-color: #333;
  width: 200px;
  height: 151px;
  top: 20px;
  left: 40px;
}
.code.red.zero1{
  width: 50px;
  top: 80px;
  left: 100px;
}
.code.red.one1{
  width: 30px;
  top: 110px;
  left: 150px;
}
.code.red.two1{
  width: 30px;
  top: 110px;
  left: 100px;
}
.code.red.three1{
  width: 20px;
  top: 120px;
  left: 80px;
}
.code.red.four1{
  width: 15px;
  top: 130px;
  left: 135px;
}
.code.red.five1{
  width: 60px;
  top: 140px;
  left: 65px;
}
.code.blue.zero1{
  width: 30px;
  top: 80px;
  left: 65px;
}
.code.blue.one1{
  width: 60px;
  top: 90px;
  left: 65px;
}
.code.blue.two1{
  width: 40px;
  top: 90px;
  left: 130px;
}
.code.blue.three1{
  width: 20px;
  top: 100px;
  left: 65px;
}
.code.blue.four1{
  width: 10px;
  top: 100px;
  left: 90px;
}
.code.blue.five1{
  width: 70px;
  top: 100px;
  left: 105px;
}
.code.blue.six1{
  width: 30px;
  top: 110px;
  left: 65px;
}
.code.blue.seven1{
  width: 10px;
  top: 110px;
  left: 135px;
}
.code.blue.eight1{
  width: 10px;
  top: 120px;
  left: 65px;
}
.code.blue.nine1{
  width: 50px;
  top: 120px;
  left: 105px;
}
.code.blue.zero2{
  width: 65px;
  top: 130px;
  left: 65px;
}
.code.blue.one2{
  width: 50px;
  top: 130px;
  left: 155px;
}
.code.blue.two2{
  width: 50px;
  top: 140px;
  left: 130px;
}